<md-content layout="row" ng-controller="InvoicesController as vm">
  <md-data-table-container>
    <table md-data-table>
      <thead md-order="vm.order">
        <tr md-disable-select>
          <th name="Supplier"></th>
          <th name="Quote"></th>
          <th name="Description"></th>
          <th name="Amount"></th>
          <th name="Paid at"></th>
          <th order-by="attributes.createdAt" name="Created at"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invoice in vm.resourceCache.getResources('invoices') | orderBy: vm.order" ng-click="vm.onRecordClick($event, invoice)">
          <td>{{vm.getInvoiceSupplier(invoice).attributes.name}}</td>
          <td>{{vm.getInvoiceQuote(invoice).attributes.delivery}}</td>
          <td>{{invoice.attributes.description}}</td>
          <td>{{invoice.attributes.amount}}</td>
          <td>{{invoice.attributes.paidAt}}</td>
          <td>{{invoice.attributes.createdAt}}</td>
        </tr>
      </tbody>
    </table>
  </md-data-table-container>
</md-content>
