<md-dialog aria-label="Invoice">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4>Invoice</h4>
        <span flex></span>
      </div>
    </md-toolbar>

    <div layout="column">

      <md-content md-theme="docs-dark" layout-padding layout="column">
        <md-select ng-model="vm.resource.relationships.quote.data.id" placeholder="Quote">
          <md-option ng-repeat="quote in vm.relationships.quote.values" value="{{quote.id}}">{{quote.attributes.delivery}}</md-option>
        </md-select>
      </md-content>

      <md-content layout="row" layout-padding>
        <md-input-container>
          <label>Amount</label>
          <input ng-model="vm.resource.attributes.amount">
        </md-input-container>
        <p ng-show=vm.customController.url><a href={{vm.customController.url}}>INVOICE</a></p>
        <md-button class="md-icon-button" style="margin-top: 10px" ng-click="vm.customController.scan()">
          <md-icon md-font-icon="ion-ios-printer-outline" aria-label="" style="font-size: 24px"></md-icon>
        </md-button>
      </md-content>

      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-show="vm.mode=='update'" ng-click="vm.close('delete')" style="color: red">
          Delete
        </md-button>
        <md-button ng-click="vm.close('cancel')" >
          Cancel
        </md-button>
        <md-button class=md-primary ng-click="vm.close('ok')" style="margin-right:20px;">
          {{vm.mode}}
        </md-button>
      </div>

    </div>
  </form>
</md-dialog>