<md-dialog aria-label="Invoice">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4>Invoice</h4>
        <span flex></span>
      </div>
    </md-toolbar>

    <div layout="column">

      <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
        <md-select ng-model="vm.resource.relationships.quote.data.id" placeholder="Quote" style="width: 100%">
          <md-option ng-repeat="quote in vm.relationships.quote.values" value="{{quote.id}}">{{quote.attributes.delivery}}</md-option>
        </md-select>
      </md-content>

      <md-content layout="row" layout-padding>
        <md-input-container style="width: 100%">
          <label>Amount</label>
          <input ng-model="vm.resource.attributes.amount">
        </md-input-container>
      </md-content>

      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-show="vm.mode=='update'" ng-click="vm.close('delete')" style="color: red">
          Delete
        </md-button>
        <md-button ng-click="vm.close('cancel')" >
          Cancel
        </md-button>
        <md-button ng-click="vm.close('ok')" style="margin-right:20px;">
          {{vm.mode}}
        </md-button>
      </div>

    </div>
  </form>
</md-dialog>