/* background color for multi function button */
.mfb-component__button--main, .mfb-component__button--child {
    background-color: rgb(121, 107, 103);
}

/* weirdness in md-select, needs padding */
md-select {
    padding-right: 5px;
}

/* override color of unselected dropdown menus */
md-select-menu.md-docs-dark-theme md-option:focus:not([selected]) {
    background: rgba(142, 192, 236, 0.5);
}

tfoot {
    font-weight: bold;
}