<md-dialog aria-label="Supplier" flex="35">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>Supplier</h4>
                <span flex></span>
            </div>
        </md-toolbar>

        <div layout="column">

            <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
                <md-input-container flex="55">
                    <label>Name</label>
                    <input ng-model="vm.resource.attributes.name">
                </md-input-container>
                <md-input-container flex="45">
                    <md-select ng-model="vm.resource.attributes.category" placeholder="Category">
                        <md-option ng-repeat="category in vm.relationships.category.values"
                                   value="{{category.attributes.name}}">{{category.attributes.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-content>

            <md-content layout="row" layout-padding>
                <md-input-container flex="45">
                    <label>Phone number</label>
                    <input ng-model="vm.resource.attributes.phoneNumber">
                </md-input-container>
                <md-input-container flex="55">
                    <label>Email</label>
                    <input ng-model="vm.resource.attributes.email" type="email">
                </md-input-container>
            </md-content>

            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-show="vm.mode=='update'" ng-click="vm.close('delete')" style="color: red">
                    Delete
                </md-button>
                <md-button ng-click="vm.close('cancel')">
                    Cancel
                </md-button>
                <md-button class=md-primary ng-click="vm.close('ok')" style="margin-right:20px;">
                    {{vm.mode}}
                </md-button>
            </div>

        </div>
    </form>
</md-dialog>